version: "3.8"

services:
  api:
    build: .
    container_name: laundry_api
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - laundry_network

  db:
    image: postgres:15-alpine
    container_name: laundry_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - laundry_network

volumes:
  pgdata: # This ensures your database data isn't lost if the container stops

networks:
  laundry_network:
    driver: bridge
